/* GLOBAL RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  color: #444;
  font-weight: 400;
  line-height: 1;
  padding: 1rem 0;
}

.container {
  border: #000 solid 4px;
  max-width: 120rem;
  margin: 0 auto;
  /* background-color: #fff5f5; */
}

/* HEADER  */

img {
  width: 50;
  height: 50;
}

h3 {
  font-size: 2.4rem;
}

.main-nav-list {
  display: flex;
  list-style: none;
  gap: 3.2rem;
  align-items: center;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #444;
  font-size: 2.4rem;
  font-weight: 600;
  padding: 1rem;

  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #2f74b3;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  color: #fff;
  background-color: #2f74b3;
  border-radius: 0.5rem;
  padding: 1.2rem 2rem;

  transition: all 0.3s;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #1864ab;
}

h1 {
  font-size: 6.2rem;
  letter-spacing: 2.5;
}

p {
  font-size: 1.8rem;
  line-height: 1.5;
}

li {
  font-size: 1.6rem;
}

/* navigation part */
.first-part {
  display: grid;
  gap: 5em;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 3rem;
}

.img-name {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.big-part {
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 10rem;
}

.triple-column {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* gap: 3rem; */
  border-top: #000 solid 0.3rem;
  border-bottom: #000 solid 0.3rem;
}

.column-title {
  margin: 1.6rem 1.6rem;
  margin-left: 1.6rem;
}

.projects .column-title {
  margin-bottom: 2.4rem;
}

.projects {
  border-right: #000 solid 0.2rem;
}

.projects .projects-names {
  margin: 1.6rem 0;
  margin-left: 2rem;
}

.projects-section {
  border-bottom: #000 solid 0.3rem;
}

.projects-section:last-child {
  border: none;
  margin-bottom: 4rem;
}

/* .projects .projects-names {
  border-bottom: #000 solid 2px;
} */

.row {
  border-right: #000 solid 0.2rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

/* .work-experience {
  border-bottom: solid #000 2px;
} */

.opensource {
  border-top: solid #000 0.2rem;
  padding-right: 1rem;
}

.projects-names,
.row .link {
  margin-left: 1.6rem;
}

.link:link,
.link:visited {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  margin-top: 1.6rem;
  font-size: 1.6rem;
  background-color: #2f74b3;
  padding: 0.9rem;
  border-radius: 0.5rem;
}

.link:hover,
.link:active {
  background-color: #1864ab;
}

.courses {
  margin-bottom: 1.6rem;
}

.courses-list {
  margin-left: 4.8rem;
}

.courses-list li {
  margin-bottom: 1.6rem;
}

/* .work-experience .column-title,
.work-experience .projects-names,
.work-experience .link,
.education {
  margin-left: 1.6rem;
} */

.reviews-title {
  margin: 4.8rem 0 4.8rem 2rem;
}

.reviews {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* gap: 5rem; */
  justify-items: center;
  align-items: center;
}

.quote {
  width: 24rem;
  border: #000 solid 0.3rem;
  border-radius: 3rem;
  padding: 2rem 2rem;
  font-size: 1.8rem;
}

.author {
  color: #adb5bd;
  font-size: 1.6rem;
}

.author-name {
  margin-top: 1rem;
}

footer {
  margin-top: 5rem;
  text-align: center;
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

/* --- RESPONSIVE AYARLARI (MEDIA QUERIES) EKLENICEK --- */
